:root {
    --z-active-slide:10;
    --grey: #404040;
    --green: #31AE54;
    --borders: #d3d3d3;
    --lightGray: #9e9e9e;
}

body, html {
    height: 100%;
}

body {
    font-family: 'Inter', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #262626;
    line-height: 1.8;
    font-size: 14px;
    //background: #E5E5E5;
}

@for $i from 1 through 6 {
    h#{$i} {
        margin: 0;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img{ 
    display: block;
    max-width: 100%;
}

p{
    margin: 0;
}

svg {
    display: block;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

*, *:after, *:before {
    box-sizing: border-box;
}

.wrapper { 
    overflow: hidden;
    min-height: 100%;
    position: relative;
}

.x-container {
    width: 1200px;
    margin: 0 auto;
}