.stories {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 50%;
    margin-left: -188px;
    transition: .4s;
}

.stories-container{
    height: 660px;
    position: relative;
}

.stories_item {
    background: #FFFFFF;
    border: 0.806597px solid #000000;
    border-radius: 6.45277px;
    width: 302px;
    height: 538px;
    margin-right: 38px;
}
